footer.footer
    .container
        .row
            .col-xs-24.col-sm-12.footer__col
                .footer__logo.wow.fadeInDown
                    a(href="/")
                        | <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
                .footer__copy
                    p 2017. Todos los derechos reservados. &copy;
                    
            .col-xs-24.col-sm-12.footer__col
                p Diseño y desarrollo por:
                a(href="http://uideveloper.ninja", target="blank")
                    img(src='/images/ui-ninja.png')
