.home {

    section {
        min-height: 85vh;
    }


    &__hero {
        &__slider {
            .slick-dots {
                background: $black;
                bottom: 20px;
                right: 20px;
                left: auto;
                transform: translateX(0);
                height: 20px;
                border-radius: 10px;
                display: flex;

                @include mq(sm){
                    right:50%;
                    transform: translateX(50%);
                }
            }
        }

        &__container {
            position: relative;
            height: 100%;
        }
        &__slide {
            height: 80vh;
            position: relative;

            &__img {
                position: absolute;
                z-index: 0;
                height: 80vh;
                width:100%;
                overflow: hidden;
                top: 0;
                left: 0;

                img {
                    height: 100%;
                    position: absolute;
                    left: 50%;
                    top:50%;
                    transform: translate3d(-50%,-50%,0);
                }
            }

            &__overlay {
                position: absolute;
                z-index: 0;
                top:0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0,0,0,.5);
            }

            &__data {
                position: absolute;
                left: 15px;
                max-width: 450px;
                width: 90%;
                bottom: 40px;
                z-index: 1;
                color: $white;

                @include mq(sm) {
                    bottom: 80px;
                }
            }

            &__title {
                font-weight: 300;

                @include mq(sm) {
                    font-size: 48px;
                }
            }

            &__desc {
                font-weight: 300;

                @include mq(sm) {
                    font-size: 21px;
                }
            }
        }
    }

    &__nosotros{
        &__title,
        &__desc {
            padding: 0 15px;
        }

        &__desc {
            @include mq(sm) {
                font-size: 18px;
            }
        }

        &__img {
            margin-left: -10vw;
            margin-top: 40px;
        }
        &__value {
            padding: 0 15px;
            display: flex;
            margin-bottom: 40px;
            max-width: 500px;

            ._text {
                padding-left: 15px;

                h3,
                p {
                    margin: 0;
                }

                h3{
                    text-transform: uppercase;
                    font-size: 16px;
                }

                p {
                    @include mq(sm) {
                        font-size: 18px;
                    }
                }
            }
        }
        &__values {
            padding-top: 40px;
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__portfolio {
        padding: 40px 0;

        @include mq(md) {
            padding: 80px 0px;
        }

        &__projects {
            padding: 40px 0;
            margin: 0;

            @include mq(md) {
                padding: 50px 0;
            }
        }

        &__title {
            padding: 0 15px;
            margin: 0;
        }

        &__project {
            $p: &;

            height: 0;
            padding-bottom: 135%;
            position: relative;
            border: 1px solid $black;
            overflow: hidden;
            margin:15px;


            &:hover {
                #{$p}__data {
                    opacity: 1;
                    transform: translateX(0);
                    pointer-events: all;
                }
            }

            &__img {
                position: absolute;
                z-index: 0;
                top: 10px;
                left: 10px;
                right: 10px;
                bottom: 10px;
                overflow: hidden;

                img {
                    position: absolute;
                    height: 100%;
                    width: auto;
                    top:0;
                    left:0;
                }
            }

            &__data {
                @include trans;

                position: absolute;
                z-index: 1;
                top: 10px;
                left: 10px;
                right: 10px;
                bottom: 10px;
                background: rgba(0,0,0,.7);
                color: $white;
                padding: 15px;
                opacity: 0;
                transform: translateX(100%);
                pointer-events: none;
            }

            &__name {
                text-transform: uppercase;
                font-size: 16px;
                margin: 0;
            }

            &__date {
                display: block;
                padding: 10px 0;
                border-top: 1px dotted $white;
                border-bottom: 1px dotted $white;
                margin: 10px 0;
                font-weight: 700;
                font-size: 14px;
            }

            &__desc{
                margin: 0;
            }

            &__link {
                position: absolute;
                bottom: 20px;
                left: 20px;
                right: 20px;
            }
        }
    }

    &__blog {
        padding: 40px 0;

        @include mq(md) {
            padding: 80px 0px;
        }

        &__notas {
            padding: 40px 0 0;
            margin: 0;

            @include mq(md) {
                padding: 50px 0;
            }
        }

        &__title {
            padding: 0 15px;
            margin: 0;
        }

        &__nota {
            position: relative;
            margin-bottom: 40px;

            &__img {
                position: relative;
                z-index: 0;
                overflow: hidden;
                width: 100%;
                top:0;
                height: 0;
                padding-bottom: 65%;

                img {
                    position: absolute;
                    width: 100%;
                    height: auto;
                    top:0;
                    left:0;
                }
            }

            &__data {
                @include trans;

                background: $lightGray;
                color: $white;
                padding-bottom: 15px;
            }

            &__name {
                text-transform: uppercase;
                font-size: 16px;
                margin: 0;
                background: $black;
                padding: 7px 15px;
            }

            &__date {
                display: block;
                border-top: 1px dotted $midGray;
                background: $black;
                padding: 5px 15px;
                font-weight: 700;
                font-size: 14px;
                margin-bottom: 10px;
            }

            &__desc{
                margin: 0;
                padding: 0 15px;
                color: $text;
            }

            &__link {
                padding: 0 15px;
                font-weight: bold;
            }
        }

        .pagination {
            margin: 0 15px;
        }
    }

}
