// Import Modules
@import 'mixins';
@import 'libraries';
@import 'modules';
@import 'pages';
@import 'components';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-family: $mainFont;
    font-weight: 200;
    overflow-x: hidden;
    width: 100vw;
    font-size: $sm;
}

main {
    padding-top: 80px;

}

h1,h2,h3,h4,h5,h6 {
    font-family: $altFont;
    font-weight: 700;
}

a {
    color:$link;
    transition: all $duration $easingLight;

    &:hover{
        color:$linkHover;
        text-decoration: none;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-title {
    text-transform: uppercase;
    font-family: $altFont;
    font-size: 2em;
    color: $black;
    margin-top: 0;

    @include mq(sm) {
        font-size: 3em;
    }

    @include mq(md) {
        font-size: 3.5em;
    }
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}
